@import "./../../assets/scss/style.scss";

.tag {
    background: $primary-red;
    color: $tertiary-white;
    width: fit-content;

    padding: 7px 20px;
    text-align: center;
    border-radius: 10px;

    font-weight: $fontBold;
    font-size: $size-x-small;

    @media (max-width: 768px) {
        font-size: 10px;
        font-weight: 700;
    }
}