@import "./../../assets/scss/style.scss";

.tags {
    display: flex;
    gap: 20px;

}
.tag {
    background: $primary-red;
    color: white;
    width: fit-content;
    height:25px ;
    padding: 3px 20px 0px 20px;
  
    text-align: center;
    border-radius: 10px;
  
    font-weight: $fontBold;
    font-size: $size-x-small;
}