.container_about {
    display: flex;
    justify-content: center;

    .collapsible_about {
        button.collapsible {

            width: 75%;
        }
    }
}



// WidthFixed (1,023px)
// HeightHug (54px)
// Radius5px
// Padding10px, 20px, 10px, 15px
// Red
// #FF6060