@import "./../../assets/scss/style.scss";

.container_about {
    display: flex;
    justify-content: center;

    .collapsible_about {
        button.collapsible {
            width: 75%;
        }
    }
}
