* {
    // margin: 0px;
    box-sizing: border-box;
    font-family: $fontFamily;
  }
  
  body {
    margin: 0px;
    // padding: 0px;
    max-width: 1920px;
    height: 100vh;
  }

  #root {
    min-height: 100%;
    position: relative;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    list-style: none;
  }

  img {
    object-fit: cover;
  }

  