//Colors//
// Couleurs principales
$primary-red: #FF6060;
$secondary-black: black;
$tertiary-white: #FFFFFF;

// Utilitaires Couleurs
$bg-grey-collapse:#F6F6F6;

//Fonts//
// fontFamily
$fontFamily:"Montserrat", sans-serif;

// fontSize 
$size-big-large: 2.25em; //36px
$size-large: 1.5em; //24px
$size-x-mediumSize: 1.125em; //18px
$size-x-small: 0.875em; //14px

// fontWeight
$fontBold: 700;
$fontMedium: 500;
$fontRegular: 400;


