@import "./../../assets/scss/style.scss";

.rate {
    display: flex;
    gap: 10px;

    .star {
        display: flex;
        width: 20px;

        @media (max-width: 768px) {
            width: 14px;
        }
    }
}