main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#gallery {
    background: #F6F6F6;

    width: 85%;
    max-width: 1240px;
    border-radius: 25px;
  
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    /* box-sizing: border-box; */
    // padding: 20px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    a {
      display: flex;
      justify-content: center;
      width: 32%;
      // padding: 20px 0px 20px 0;
      padding-top: 40px;
      // padding-right: 0;
      // padding-bottom: 10px;
      // padding-left: 0
      ;
    }
  }
