@import "./../../assets/scss/style.scss";

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    gap: 19px;
    width: 90%;
  }
}

#gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 56px;
 
  gap: 30px;
  padding: 34px;

  background: #f6f6f6;
  border-radius: 25px;

  width: 100%;
  max-width: 1240px;

  @media (max-width: 768px) {
    margin-bottom: 23px;
    gap: 20px;
    padding: 0;
    background: $tertiary-white;
    width: 100%;
  }
}

#gallery::after{
    content: "";
    width: 30%;
}