@import "./../../assets/scss/style.scss";

.cardHome {
  position: relative;
  height: 340px;

  border-radius: 10px;
  overflow: hidden;
  background: $primary-red;

  width: 29.7%;
  max-width: 340px;

  @media (max-width: 768px) {
    height: 255px;
    width: 100%;
    max-width: none;
  }

  .text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    color: $tertiary-white;
    text-align: left;

    z-index: 3;
    padding: 20px;

    font-size: $size-x-mediumSize;
    font-weight: $fontBold;
    background: linear-gradient(to top, black, transparent);
  }

  .card_img {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.04);
    }
  }
}