figure {
    background: #FF6060;
    width: 75%;
    /* width: 340px; */
    max-width: 340px;
    height: 26vh;
    position: relative;
    /* height: 340px; */
    border-radius: 10px;
    /* background:linear-gradient(to top, #040404 0.1%, #ff6060 30%); */
    /* background:linear-gradient(#ffffff 0, #0a0a0a 0, #040404 20.5%, #000000 50%); */
  }
  
figure figcaption {
    position: absolute;
    bottom: 14px;
    left: 15px;
  
    font-size: 18px;
    font-weight: 700;
    line-height: 25.76px;
    color: white;
  }
  