@import "./../../assets/scss/style.scss";

.carrousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;

  height: 415px;

  @media (max-width: 768px) {
    height: 220px;
  }
}

img.carrousel-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }

  @media (max-width: 768px) {
    max-width: 335px;
    min-width: 320px;
  }
}

.carrousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  // background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;

  &.prev {
    left: 10px;

    @media (max-width: 768px) {
      height: 10%;
      width: 10%;
      object-fit: contain;
    }
  }

  &.next {
    right: 10px;

    @media (max-width: 768px) {
      height: 10%;
      width: 10%;
      object-fit: contain;
    }
  }


}

.slider__number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: $tertiary-white;
  // font-size: 18px;
  font-size: 1.2em;
  font-weight: bold;
  // background: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent pour améliorer la lisibilité */
  padding: 5px 10px;
  border-radius: 5px;

  @media (max-width: 768px) {}
}