@import "./../../assets/scss/style.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 34px;
    
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;

    position: relative;

    @media (max-width: 768px) {
        padding-block: 17px;
    }

    .logo {
        width: 210.32px;
        height: 68px;

        @media (max-width: 768px) {
            width: 145px;
            height: 46.88px;
        }
    }

    .nav {
        height: fit-content;

        ul {
            display: flex;
            list-style-type: none;
            margin-bottom: 0;
            gap: 57px;

            @media (max-width: 768px) {
                gap: 26px;
                padding: 0;
            }
        }

        a {
            font-weight: $fontMedium;
            font-size: $size-large;
            color: $secondary-black;
            border-bottom: 2px solid white;

            &.selected {
                border-bottom: 2px solid black;
            }

            @media (max-width: 768px) {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}