.main_logement {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: space-around;
    // margin-bottom: 60px;
    padding: 40px 0 40px 40px;
}

// .presentation {
//     padding-bottom: 20px;
// }

#informations {
    h1 {
        color: #FF6060;
        font-weight: 500;
        font-size: 36px;

        line-height: 51.34px;
    }

    p {
        font-weight: 500;
        font-size: 18px;
    
        line-height: 25.67px;
        padding-top: 10px;
        padding-bottom: 36px; 
    }
}

// #informations p {
//     font-weight: 500;
//     font-size: 18px;

//     line-height: 25.67px;
//     padding-bottom: 15px;
// }

.tags {
    display: flex;
    gap: 20px;
}

#host {
    text-align: center;

    img {
        padding: 10px;
    }

    p {
        color: #FF6060;
        font-weight: 500;
        font-size: 18px;

        line-height: 25.67px;
    }
}

// #host p {
//     color: #FF6060;
//     font-weight: 500;
//     font-size: 18px;

//     line-height: 25.67px;
// }

.collapse {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 9%;
}