@import "./../../assets/scss/style.scss";

.main_logement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0 40px 40px;
}

#informations {
    h1 {
        color: $primary-red;
        font-weight: $fontMedium;
        font-size: $size-big-large;

        line-height: 51.34px;
    }

    p {
        font-weight: $fontMedium;
        font-size: $size-x-mediumSize;
    
        line-height: 25.67px;
        padding-top: 10px;
        padding-bottom: 36px; 
    }
}

// .tags {
//     display: flex;
//     gap: 20px;
// }
.tag {
    background: $primary-red;
    color: white;

    width: 115px;
    height:25px ;
    padding: 3px 20px 0px 20px;
  
    text-align: center;
    border-radius: 10px;
  
    font-weight: $fontBold;
    font-size: $size-x-small;
    line-height:19.96px ;
}

#host {
    text-align: center;

    img {
        padding: 10px;
        border-radius: 50%;
    }

    p {
        color: #FF6060;
        font-weight: $fontMedium;
        font-size: $size-x-mediumSize;

        line-height: 25.67px;
    }
}

// .collapse {
//     display: flex;
//     justify-content: space-between;
//     padding: 0px 30px 40px 30px;
//     max-width: 1240px;
// }