@import "./../../assets/scss/style.scss";

footer {
    margin: 0;
    width: 100%;

    background-color: $secondary-black;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 37px;
    padding-top: 44px;
    padding-bottom: 20px;

    @media (max-width: 768px) {
        gap: 0px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    img {
        width: 122px;
        height: 39.44px;

        @media (max-width: 768px) {
            padding-bottom: 10px;
        }
    }

    p {
        color: $tertiary-white;
        font-weight: $fontMedium;
        font-size: $size-large;
        line-height: 34.22px;

        @media (max-width: 768px) {
            font-size: 12px;
            line-height: 17.11px;
            width: 39%;
            text-align: center;
        }
    }
}