#banner {
    display: flex;
    justify-content: center;
    // width: 100%;
    align-items: center;

    @media (max-width: 768px) {
        // justify-content: flex-start;
    }

    img {
        position: relative;

        object-fit: cover;
        width: 89%;
        max-width: 1240px;
        height: 223px;

        border-radius: 25px;

        @media (max-width: 768px) {
            width: 100%;
            max-width: 335px;
            height: 111px;
        }
    }

    p {
        position: absolute;

        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 68.45px;
        color: white;

        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 24px;
            width: 62%;
            padding-left: 15px;
        }
    }
}
