#banner {
    display: flex;
    justify-content: center;
    // width: 100%;
    align-items: center;

    img {
        position: relative;

        object-fit: cover;
        width: 89%;
        max-width: 1240px;
        height: 223px;

        border-radius: 25px;
    }

    p {
        position: absolute;

        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 68.45px;
        color: white;
    }
}

// #banner img {
//     position: relative;

//     object-fit: cover;
//     width: 89%;
//     max-width: 1240px;
//     height: 223px;

//     border-radius: 25px;
//     // filter: brightness(0.6);
//     box-shadow: 0 4px 4px rgba(0, 0, 0.25);
// }


//   #banner 
//   .bannerTextContent
//  {
//     position: absolute;
//     top: 25%;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   #banner 
//   .bannerTextContent h1

//    {
//     font-weight: 700;
//     font-size: 48px;
//     line-height: 68.45px;
//     color: var(--white);
//   }